@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: theme('colors.white');
  background-image: url('../images/background.jpg');
  background-size: cover;
  color: theme('colors.green.default');
}

#vertical-line {
  transform: rotate(90deg) scale(0.45, 1);
}
