@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: theme('colors.white');
  background-image: url('../images/background.jpg');
  background-size: cover;
  color: theme('colors.green.default');
  padding: 4rem;
}

nav {
  padding-bottom: 8rem;
}
